[submodule "CreativeCore"]
path = CreativeCore
url = https://github.com/zmr-233/CreativeCoreDev.git
branch = 1.21
[submodule "LittleTiles"]
path = LittleTiles
url = https://github.com/zmr-233/LittleTilesDev.git
branch = 1.21
