[submodule "CreativeCore"]
path = CreativeCore
url = https://github.com/zmr-233/CreativeCoreDev.git
branch = dev-zmr233
[submodule "LittleTiles"]
path = LittleTiles
url = https://github.com/zmr-233/LittleTilesDev.git
branch = dev-zmr233
